{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_projects/user_project.css' %}" />
{% endblock %}

{% block content %}
<div class="main-container">
  <main class="content">
    <h1 class="projects-title">Tus Proyectos</h1>

    <!-- Cuadrícula de proyectos -->
    <div class="projects-grid">
      {% for project in projects %}
      <div class="project-card" onclick="showProjectDetails('{{ project.name }}', '{{ project.description }}')">
        <span class="project-title">{{ project.name }}</span>
        <p class="project-description">{{ project.description }}</p>
      </div>
      {% endfor %}

      <div class="project-card-add" onclick="document.getElementById('addProjectForm').style.display = 'block';">
        <span class="project-title">+</span>
      </div>
    </div>

    <!-- Detalles del proyecto -->
    <div id="projectDetails">
      <p>Haz clic en un proyecto para ver sus detalles o agregar uno nuevo</p>
      <h2 id="selectedProjectTitle"></h2>
      <p id="selectedProjectDescription"></p>
    </div>

    <!-- Formulario para agregar un nuevo proyecto -->
    <div id="addProjectForm" style="display: none;">
      <h2>Añadir Nuevo Proyecto</h2>
      <form method="post" action="{% url 'projects' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Agregar Proyecto</button>
      </form>
    </div>
  </main>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'user_projects/user_project.js' %}"></script>
{% endblock %}