{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <!-- Archivos CSS específicos de la página -->
  <link rel="stylesheet" href="{% static 'functional_test.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">

    <!-- Contenedor fijo a la izquierda para las pruebas -->
    <div class="sidebar-fixed">
        <h2>Pruebas</h2>
        <div id="testList">
            {% comment %} <div class="test-item active" id="test-1" onclick="showTest(1)">
                <input type="text" value="Prueba 1" class="test-name" oninput="updateTestName(1, this.value)">
                <button type="button" class="delete-btn" onclick="RemoveTestTest(1)">✖</button>
            </div> {% endcomment %}
            {% for i in range %}
                <div id="test-{{ i }}"  class="test-item active" >
                    <span type="text" class="test-name">Prueba {{ i }}</span>
                    <button class="delete-btn" onclick="removeTest({{ i }})">✖</button>
                </div>
            {% endfor %}
            <button type="button" id="addTestBtn" onclick="addTest()">+ Añadir Prueba</button>
        </div>
    </div>

    <!-- Contenedor principal que estará a la derecha de las pruebas -->
    <div class="container">
        <h1>Proyecto: QA Station</h1>
        <span class="project-title">{{ project.name }}</span>
        <form id="testForm" action="{% url 'functional_tests:run_manual_test' %}" method="POST">

            <label for="url">URL:</label>
            <input type="text" id="url" name="url" placeholder="Ingrese URL" required>
            {% csrf_token %}

            <h2>Acciones</h2>
            <div id="actionContainer">
                <div class="action-row">
                    <div class="input-group">
                        <select name="category[]" onchange="populateActions(this)">
                            <option value="">Seleccione una categoría</option>
                            <option value="navigation">Navigation</option>
                            <option value="forms">Forms</option>
                            <option value="alerts">Alerts</option>
                            <option value="modals">Modals</option>
                            <option value="keyboard_mouse">Keyboard & Mouse</option>
                            <option value="javascript">Javascript</option>
                            <option value="data_extraction">Data Extraction</option>
                            <option value="verifications">Verifications</option>
                        </select>
                        <select name="action[]" onchange="toggleInputField(this)">
                            <option value="">Seleccione una acción</option>
                        </select>
                        <input type="text" name="element_type[]" placeholder="Tipo de elemento (e.g., name)" required>
                        <input type="text" name="value[]" placeholder="Valor del selector (e.g., q)" required>
                        <input type="text" name="input_value[]" placeholder="Texto a ingresar" style="display:none;">
                    </div>
                    <button type="button" class="delete-btn" onclick="removeRow(this)">✖</button>
                </div>
            </div>

            <button type="button" onclick="addRow()">Añadir Acción</button>
            <button type="submit" id="executeBtn">Ejecutar Pruebas</button>
        </form>

        <!-- Contenedor para mostrar los logs -->
        <div id="log-container">
            <h3>Logs</h3>
            <div id="log-output"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
  <!-- Archivos JavaScript específicos de la página -->
  <script src="{% static 'functional_test.js' %}"></script>
{% endblock %}
</html>