/* Header - barra de navegación */
.navbar {
  background-color: #fff;
  padding: 15px 30px;
  border-bottom: 2px solid #ddd;
  display: flex;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: space-between; /* Distribuir uniformemente */
}

/* Estilos del logo */
.navbar-logo img {
  max-width: 100px; /* Tamaño máximo del logo */
  height: auto; /* Mantener las proporciones */
  display: block; /* Asegurar que se comporte como un bloque */
}

/* Enlaces de navegación */
.navbar-links {
  display: flex;
  justify-content: center; /* Centrar horizontalmente los enlaces */
  gap: 40px; /* Espacio entre los enlaces */
  width: 100%; /* Asegurar que ocupe el ancho completo */
}
.navbar-links a {
  text-decoration: none; /* Sin subrayado en los enlaces */
  font-size: 19px; /* Tamaño de fuente de los enlaces */
  color: #333; /* Color del texto de los enlaces */

}

.navbar-links a:hover {
  color: #4CAF50; /* Cambia a verde al pasar el mouse */
}

/* Perfil de usuario */
.user-profile {
  display: flex;
  align-items: center;
  gap: 18px;
}

.user-profile img {
  width: 55px;
  height: 55px;
  border-radius: 60%;
}

