.input-group {
    display: flex;
    align-items: center;
}

textarea {
    border: none; /* Elimina bordes */
    box-shadow: none; /* Elimina sombras */
    resize: none; /* Desactiva el redimensionamiento si lo deseas */
}

.icon-button {
    background: none; /* Estilo adicional para botones */
    border: none; /* Elimina bordes del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.icon-button i {
    font-size: 1.5rem; /* Ajusta el tamaño del icono si es necesario */
}