{% extends 'base.html' %}

{% block title %}Restablece tu contraseña - QA Station{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Restablece tu contraseña</h2>
    <p>Por favor, ingresa el código que recibiste y tu nueva contraseña.</p>
    <form method="POST">
        {% csrf_token %}
        <label for="token">Código de verificación:</label>
        <input type="text" name="token" required id="token" class="form-control">

        <label for="new_password">Nueva contraseña:</label>
        <input type="password" name="new_password" required id="new_password" class="form-control">

        <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
    </form>
</div>
{% endblock %}
