{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'users/password_reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
<div class="background-container">
  
  <!-- Logo de la página -->
  <div class="logo">
    <img src="{% static 'image/logo.png' %}" alt="Logo de QA Station" />
  </div>

  <!-- Título debajo del logo -->
  <h2 class="title">Recupera tu contraseña</h2>

  <!-- Formulario de recuperación de contraseña -->
  <form class="pw-form" method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}

    <!-- Dirección de correo electrónico -->
    <div class="form-group">
      <label for="email">Dirección de correo electrónico:</label>
      <input type="email" name="email" required id="email" class="form-control" placeholder="Ingresa tu correo" />
    </div>

    <!-- Código de verificación -->
    <div class="form-group">
      <label for="code">Código de verificación</label>
      <input type="text" id="code" name="code" required placeholder="Ingresa el código" />
    </div>

    <!-- Botón de continuar -->
    <button type="submit" class="btn-primary">Confirmar</button>
  </form>

  <!-- Enlace para iniciar sesión -->
  <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'users/password_reset.js' %}"></script>
{% endblock %}
