{% extends 'base.html' %}

{% block title %}Recupera tu contraseña - QA Station{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Recupera tu contraseña</h2>
    <p>Se te enviará un código a tu correo para la recuperación de tu contraseña.</p>
    <form method="POST">
        {% csrf_token %}
        <label for="email">Dirección de correo electrónico:</label>
        <input type="email" name="email" required id="email" class="form-control">
        <button type="submit" class="btn btn-primary">Continuar</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</div>
{% endblock %}
