{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/users/register.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
<div class="page-container">
  <div class="background-container">
    <div class="register-logo">
      <img src="{% static '/image/logo.png' %}" alt="Logo de QA Station" />
    </div>

    <!-- Texto debajo del logo -->
    <h2 class="title">Crea tu cuenta</h2>

    {% if messages %}
    {% for message in messages %}
    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <form class="register-form" method="POST" action="{% url 'users:register' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-register">Crear cuenta</button>
    </form>
  </div>
</div>
{% endblock %}