{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<!-- Contenedor principal para el login -->
<div class="background-container">

  <!-- Logo de la página -->
  <div class="register-logo">
    <img src="{% static 'image/logo.png' %}" alt="Logo de QA Station" />
  </div>

  <!-- Texto debajo del logo -->
  <h2 class="title">Crea tu cuenta</h2>
  {% if messages %}
  {% for message in messages %}
  <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
  {% endfor %}
  {% endif %}
  
  <form class="register-form" method="POST" action="{% url 'users:register' %}">
    {% csrf_token %}
    
    <!-- Renderizado del formulario con mejoras para la visualización de errores -->
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% for error in form.username.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {% for error in form.email.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-group">
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
      {% for error in form.first_name.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-group">
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
      {% for error in form.last_name.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-group">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {% for error in form.password1.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-group">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {% for error in form.password2.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    
    <button type="submit" class="btn-register">Crear cuenta</button>
  </form>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/messages.js' %}"></script>
{% endblock %}