<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}QA Station{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Incluir la fuente de Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar-logo">
          <a href="{% url 'about_us' %}">
            <img src="{% static 'image/logo.png' %}" alt="QA Station Logo" />
          </a>
        </div>
        <div class="navbar-links">
          <!-- Enlaces actualizados con rutas correctas a las páginas -->
          <a href="{% url 'about_us' %}">Nosotros</a>
          <a href="{% url 'documentation' %}">Documentación</a>
          <a href="{% url 'user_projects:projects' %}">Proyectos</a>
        </div>
                
        <div class="user-profile">
          <img src="https://via.placeholder.com/40" alt="User Profile" />
          {% if user.is_authenticated %}
            <span class="user-name">{{ user.username }}</span>
            <div class="dropdown-menu">
              <a href="#">Perfil</a>
              <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn-logout">Cerrar sesión</button>
              </form>
            </div>
          {% else %}
            <span>Invitado</span>
          {% endif %}
        </div>
      </div>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <script src="{% static 'js/scripts.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
