/* Estilos del navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

/* Contenedor principal */
.about-container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  padding-top: 80px;  /* Añadimos espacio para evitar la superposición con el navbar */
  box-sizing: border-box;
}

/* Sidebar izquierdo */
.sidebar-left {
  width: auto;  /* Ajusta automáticamente el ancho según el contenido */
  max-width: 300px;  /* Ancho máximo aumentado */
  min-width: 220px;  /* Ancho mínimo aumentado */
  background-color: #f7f7f7;
  padding: 20px 15px;  /* Ajustamos el padding para mantener el contenido alineado */
  border-right: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 80px;
  height: calc(100vh - 80px);  /* Ajustamos la altura del sidebar para no superponerse con el navbar */
  overflow-y: auto;
}

/* Sidebar derecho */
.sidebar-right {
  width: auto;  /* Ajusta automáticamente el ancho según el contenido */
  max-width: 300px;
  min-width: 220px;
  background-color: #f7f7f9;
  padding: 20px 15px;
  border-left: 1px solid #ddd;
  position: fixed;
  right: 0;
  top: 80px;
  height: calc(100vh - 80px);  /* Ajustamos la altura del sidebar para no superponerse con el navbar */
  overflow-y: auto;
}

/* Lista de navegación en los sidebars */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

/* Aumentamos el tamaño de las letras */
.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  display: block;
  padding-left: 10px;
}

/* Enlaces activos */
.sidebar ul li a.active {
  color: #39b54a;
  font-weight: bold;
  border-left: 3px solid #39b54a;
  padding-left: 15px;
}

/* Hover - Cambiar a color verde */
.sidebar ul li a:hover {
  color: #39b54a;
  font-weight: bold;
}

/* Contenido principal */
.content {
  width: calc(100% - 320px);  /* Ajustamos el contenido para que ocupe el espacio restante */
  margin-left: 320px;  /* Separación suficiente para el sidebar más ancho */
  margin-right: 320px; /* Ajuste para evitar superposición con el sidebar derecho */
  padding: 20px;
  max-width: 800px;
  text-align: left;
  box-sizing: border-box;
}