body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.success {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}

/* Ajustar el tamaño de los gráficos */
.chart-container {
    width: 80%;         /* Controla el ancho del contenedor del gráfico */
    max-width: 600px;    /* Tamaño máximo para el gráfico */
    margin: 40px auto;   /* Centramos el gráfico y añadimos margen */
    padding: 20px;
}

canvas {
    width: 100%;         /* El gráfico ocupa todo el contenedor */
    height: 300px;       /* Establecemos un alto específico */
    max-height: 300px;   /* Limitamos el alto máximo */
}
