.main-container {
    display: flex;
    padding: 40px;
    margin-top: -5px;
    margin-right: 1px; /* Espaciado desde la izquierda */
}

/* Sidebar para las pruebas */
.sidebar-fixed {
    width: 278px;
    position: sticky;
    top: 100px;
    height: 100vh;
    background-color: #fbfdff; /* Fondo más claro */
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

/* Contenedor principal */
.container {
    margin-left: 35px; /* Deja espacio para el sidebar */
    padding: 30px 50px;
    width: 1300px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 60px;
}

.sidebar-fixed h2 {
    margin-bottom: 40px;
    font-size: 18px;
}

/* Lista de pruebas */
#testList {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 12px;
}

/* Estilo para los ítems de prueba */
.test-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    height: 50px;
}

.test-item input.test-name {
    border: none;
    background-color: transparent;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding-left: 10px;
}

.test-item input.test-name:focus {
    background-color: #e9ecef;
    outline: none;
}

/* Estilo para ítems activos */
.test-item.active {
    background-color: #d1e7dd;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Efecto hover */
.test-item:hover {
    background-color: #e9ecef;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de añadir prueba */
#addTestBtn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 16px;
}

#addTestBtn:hover {
    background-color: #218838; /* Cambia a un verde más oscuro en hover */
    color: white;
}

h1, h2 {
    color: #333;
}

/* Estilos para el campo de texto editable */
.test-name {
    border: none;
    background: transparent;
    font-size: 16px;
    width: 85%;
    cursor: pointer;
}

.test-name:hover, .test-name:focus {
    background-color: #e9ecef;
    outline: none;
    border-radius: 20px;
}

/* Ocultar contorno al hacer focus en los botones */
button:focus, .delete-btn:focus {
    outline: none;
}
